* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: "IRANYekan", sans-serif;
}
body {
  overflow-x: hidden;
}
.flex {
  display: flex;
}
.container {
  margin: 0 auto;
}
.align-item {
  align-items: center;
}
.order-btn {
  width: 96px;
  height: 29px;
  padding: 4px 8px 4px 8px;
  /* gap: 10px; */
  border-radius: 32px 16px 32px 16px;
  opacity: 0px;
  background: #239d60;
  border: none;
  color: white;
  font-size: 12px;
}

.white-btn {
  width: 249px;
  height: 29px;
  padding: 4px 8px 4px 8px;

  border-radius: 32px 16px 32px 16px;
  opacity: 0px;
  background: white;
  border: none;
  color: #707070;
  font-size: 12px;
}
.show-all-btn {
  width: 82px;
  height: 29px;
  padding: 4px 8px 4px 8px;
  /* gap: 10px; */
  border-radius: 32px 16px 32px 16px;
  background: black;
  border: none;
  color: white;
  font-size: 12px;
  position: absolute;
  left: 40px;
}
.white-arr-btn {
  width: 120px;
  height: 29px;
  padding: 4px 8px 4px 8px;
  border-radius: 32px 16px 32px 16px;
  background: white;
  border: none;
  font-size: 12px;
  justify-content: flex-end;
  align-items: center;
}

/* header */

header {
  max-width: 1024px;
  box-shadow: 0px 8px 24px 0px #00000029;
  backdrop-filter: blur(16px);
  height: 67px;
  border-radius: 0 0 24px 24px;
}
header nav {
  width: 100%;
}
header ul {
  justify-content: space-evenly;
}
header ul li {
  list-style: none;
  cursor: pointer;
}
header ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: black;
  border: none;
}
header ul li a:hover {
  border-bottom: 1px solid #239d60;
}

/* main */

.main-content {
  height: 750px;

  width: 1124px;
  position: relative;
}
.main-text {
  width: 628px;
  height: 297px;
}

.company-name {
  font-size: 48px;
  font-weight: 800;
  /* color: linear-gradient(270deg, #212125 0%, #246D42 99.68%); */
}
.main-paragraph {
  font-size: 24px;
  color: #53535b;
  padding: 8px;
}
.product-btn {
  width: 172px;
  height: 47px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 32px 16px 32px 16px;
  opacity: 0px;
  background: #239d60;
  color: #ffffff;
  border: none;
  box-shadow: 0px 16px 32px 0px #239d607a;
}
.baird {
  position: absolute;
  top: 40px;
  left: 30px;
}
.slider {
  width: 1124px;
}
.slider-baird {
  border-radius: 35px;
}
/* .keen-slider {
  direction: ltr;
} */

.special-sell {
  width: 1124px;
  height: 406px;

  border-radius: 32px 160px 32px 32px;
  margin-top: 20px;
  align-items: center;
}
.orange {
  background: linear-gradient(270deg, #ff4f17 0%, #e73700 60.42%);
  box-shadow: 0px 0px 24px 0px #0000003D inset;
  padding: 0px 10px;

  
}
.fastival-sell {
  width: 250px;
  flex-direction: column;
  height: 358px;
  justify-content: space-between;
  padding: 20px 20px;
  
}
.fastival-sell .btns {
  width: 210px;
  direction: ltr;
 
  
}
.sell-detail {
  flex-direction: column;
  justify-content: center;
 
  align-items: center;
  
}
.sell-detail h4 {
  color: white;
  font-size: 24px;
  font-weight: 800;
}
.arrow {
  width: 100%;
  align-items: flex-end;
  direction: ltr;
  display: flex;
  gap: 5px;
}
.arrow button {
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  
}
.arrow button:hover {
  opacity: 70%;
}
.order {
  font-size: 12px;
  color: white;
  width: 220px;
}
.product-discrib-div {
  background-color: #ffffff;
  width: 196px;
  height: 358px;
  padding: 16px;
  border-radius: 16px;
  flex-direction: column;
}
.germany-factor-products {
  justify-content: center;
  margin: 25px 0;
  gap: 20px;
}
.green {
  background: linear-gradient(270deg, #239d60 0%, #a3de83 60.42%);
}
.banner {
  margin-bottom: 150px;
}
.banner img {
  background-image: url(./assets/bairds-banner.svg);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.services {
  justify-content: row;
  width: 1123px;
  height: 280px;
  justify-content: space-between;
}
.services-back-design {
  position: absolute;
  width: 760px;
  height: 408px;
  top: 3200px;
  left: 0;
  background: #239d601a;
  border-radius: 160px 32px 160px 32px;
}
.services-part {
  width: 319px;
  height: 280px;
  padding: 24px;
  border-radius: 80px 32px 80px 32px;
  border: 1px 0px 0px 0px;
  border: 1px solid #239d60;
  flex-direction: column;
  align-items: center;
}
.services-part img {
  background: #a3de8352;
  border-radius: 32px;
}
.services-part span {
  font-size: 16px;
  font-weight: 700;
}
.services-part p {
  font-size: 16px;
  color: #707070;
}
.papers {
  width: 1124px;
  height: 512px;
  background: #212125;
  border-radius: 32px 160px 32px 32px;
  margin: 20px auto;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 110px;
  margin-bottom: 110px;
}
.papers-details {
  width: 526px;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px 10px 10px;
}

.papers-details h3 {
  color: white;
  font-size: 36px;
  font-weight: 800;
}
.end-dicoration {
  border-bottom: 2px solid #239D60;
  /* box-shadow: 0px 0px 8px 0px #00FF75; */
 
}
.p-btn {
  padding: 5px 0px;
  justify-content: space-between;
}
.p-btn p {
  font-size: 14px;
  font-weight: 300;
}
.paper-btn {
  /* width: 326px; */
  display: flex;
  position: relative;
}
.paper-btn .show-all-btn {
  background-color: #239D60;
}
.papers-details div span {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.papers-sec {
  background-color: #fdfdfd;
  width: 526px;
  height: 144px;
  border-radius: 16px;
  padding: 15px;
}
.papers-sec img {
  border-radius: 16px;
}
.paper-content {
  padding-right: 15px;
}
.paper-content h4 {
  font-weight: 700;
  font-size: 16px;
}
.paper-content p {
  color: #707070;
  font-size: 13px;
}
.edit-section {
  display: flex;
  justify-content: space-between;
}
.edit-date {
  color: #b3b3b3;
  font-size: 10px;
}
.partners {
  max-width: 1116px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  position: relative;
}
.partners h2 {
  font-size: 32px;
  font-weight: 700;
}

.partner-one {
  width: 324px;
  height: 202px;
  padding: 16px 32px 16px 32px;
  border-radius: 80px 32px 80px 32px;
  border: 1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border: 1px solid #239d60;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}
.partner-one button {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.notice {
  flex-direction: column;
  width: 1124px;

  /* position: absolute;
  left: 455px; */
  /* margin-right: 100px; */
}
.notice-d {
  width: 794px;
  height: 147px;
  border: 1px solid #239d60;
  border-radius: 32px;
}
.notices {
  position: relative;
  width: 100%;
  right: 70px;
}

.notice-content {
  padding: 24px;
  position: absolute;
  z-index: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.membership {
  width: 361px;
}
.notice-shadow {
  background: #239d603d;
  position: absolute;
  top: 0;
  transform: rotate(-5deg);
  right: 30px;
  border: none;
}
.btns {
  width: 326px;
  display: flex;
  position: relative;
}
.fist-btn {
  box-shadow: 0px 0px 24px 0px #239d607a;
  position: absolute;
  z-index: 1;
  height: 40px;
  font-size: 16px;
}
.second-btn {
  left: 8px;
  position: absolute;
  height: 40px;
  font-size: 16px;
  padding-left: 0;
}
.membership h4 {
  font-size: 20px;
  font-weight: 700;
}
.membership h4 span {
  color: #239d60;
}

.up-btn {
  background-color: black;
  border-radius: 12px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 4px;
  background-image: url(./assets/up.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* background images */
.par {
  position: absolute;
  left: -83px;
  top: 1352px;
  transform: rotate(148deg);
  opacity: 90%;
}
.par-2 {
  position: absolute;
  top: 1655px;
  right: 0;
  transform: rotate(0deg);
}
.par-3 {
  position: absolute;
  left: -10px;
  top: 2000px;
  transform: rotate(40deg);
  opacity: 60%;
}
.par-4 {
  position: absolute;
  left: 0;
  top: 3677px;
  transform: rotate(4deg);
  opacity: 60%;
}
.par-5 {
  position: absolute;
  right: -66px;
  top: 4377px;
  transform: rotate(225deg);
  opacity: 60%;
}
.background-birds {
  position: absolute;
  right: 0;
  top: 3550px;
}
.titr {
  position: absolute;
  align-items: center;
  top: -60px;

  
}

/* footer */

footer {
  background: linear-gradient(180deg, #212125 0%, rgba(33, 33, 37, 0) 100%);
  height: auto;
  border-radius: 0 160px 0 0;
  margin-top: 220px;
  position: relative;
  flex-direction: column;
  background-color: black;
  padding: 50px 200px;
}
.footer-con {
  gap: 30px;
}
.footer-con div {
  width: 391px;
  height: 100%;
  gap: 10px;
}
footer img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.contact-number {
}
.footer-title {
  color: #239d60;
  font-size: 18px;
  font-weight: 700;
}
.footer-text {
  font-size: 16px;
  font-weight: 300;
  color: #c0c0c0;
  text-align: justify;
  line-height: 30px;
}
.footer-sec-style {
  display: flex;
  flex-direction: column;
}
.menu-items {
  max-width: 815px;
  /* gap: 100px; */
  justify-content: space-between;
}
.menu-items ul {
  list-style: none;
  margin: 10px 0px;
  gap: 10px;
}
.menu-items ul li {
  display: flex;
  padding: 0px 10px;

  font-size: 14px;
  height: 20px;
}
.spans {
  width: 48px;
}
.span-background {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 0px 20px;

  background-position: center;
  background-repeat: no-repeat;
}
.menu-items div .flag {
  background-image: url(./assets/Frame\ 94.svg);
}
.arr-up {
  background-image: url(./assets/Vector.svg);
}
.border {
  border-right: 1px solid #c0c0c0;
}

.green-line {
  position: absolute;
  z-index: 2;
  bottom: 80px;
}
.law-notic {
  /* position: absolute; */

  /* margin-top: 50px; */
  height: 76px;
}

.law-notic-part {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  gap: 40px;
}
.law-notic-part p {
  font-size: 14px;
  font-weight: 300;
}
.social-link {
  /* margin-top: 50px; */
  width: 172px;
  gap: 20px;
  z-index: 10;
}
.social-link ul li {
  display: flex;
  margin: 0px 5px;
  width: 24px;
  height: 24px;
}
.social-link ul li :hover {
  border-bottom: 2px solid #239d60;
}
.social-size {
  width: 20px;
  height: 20px;
}
.linked-in {
  background-image: url(./assets/Group\ 116.svg);
}
.youtube {
  background-image: url(./assets/Vector\ \(1\).svg);
}

.instagram {
  background-image: url(./assets/Vector\ \(2\).svg);
}
.tweeter {
  background-image: url(./assets/Vector\ \(3\).svg);
}
.facebook {
  background-image: url(./assets/Vector\ \(4\).svg);
}
#my-keen-slider-second div {
  width: 196px;
}
